
/* .btn-space {
    margin-left: 20px;
    margin-right: 20px;    
} */

.btn-primary-spacing 
{
margin-right: 5px;
margin-bottom: 5px !important;
}

/* Space out content a bit */
body {
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }

  /* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
  

  /* Customize container */
@media (min-width: 768px) {
    .container {
      max-width: 730px;
    }

.container-narrow > hr {
  margin: 30px 0;
}    

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }